@media (max-width:768px) {
  .connectpagerow0 {
    display: flex;
    margin-left: 11px;
    margin-top: 13px;
    width: 364px;
    height: 125px
  }
  .style1 {
    font-family: BalsamiqSans,serif;
    font-size: .625em;
    font-weight: 700;
    margin-left: 0;
    margin-top: 11px;
    width: 184px
  }
  .style0 {
    margin-left: 5px;
    width: 174px;
    height: 100%;
    align-self: stretch
  }
  .style2 {
    background-color: #597eaa;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 123px;
    margin-top: 39px;
    width: 128px;
    height: 45px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style3 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    font-weight: 700;
    height: 16px
  }
  .connectpagerow2 {
    display: flex;
    margin-left: 20px;
    margin-top: 243px;
    width: 341px;
    height: 43px;
    align-items: stretch
  }
  .connectpagerow2unsupported1 {
    margin-left: 0;
    width: 43px
  }
  .connectpagerow2unsupported0 {
    margin-left: 255px;
    width: 43px
  }
  .style4 {
    margin-left: 82px;
    margin-top: 55px;
    width: 215px;
    height: 272px
  }
  .style5 {
    background-color: #999;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 142px;
    margin-top: 18px;
    width: 95px;
    height: 39px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style6,
  .style7 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    font-weight: 700;
    height: 16px
  }
  .style7 {
    font-size: 1.125em;
    margin-left: 54px;
    margin-top: 21px;
    height: 21px
  }
  .settingsrow1 {
    display: flex;
    margin-left: 76px;
    margin-top: 19px;
    width: 176px;
    height: 21px;
    align-items: stretch
  }
  .settingsrow1unsupported1 {
    margin-left: 0;
    width: 21px
  }
  .style8 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 26px;
    width: 128px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .5625em;
    height: 9px
  }
  .settingsrow2 {
    display: flex;
    margin-left: 76px;
    margin-top: 21px;
    width: 176px;
    height: 21px;
    align-items: stretch
  }
  .settingsrow2unsupported2 {
    margin-left: 0;
    width: 21px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 26px;
    width: 128px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .5625em;
    height: 9px
  }
  .settingsrow3 {
    display: flex;
    margin-left: 76px;
    margin-top: 23px;
    width: 176px;
    height: 21px;
    align-items: stretch
  }
  .settingsrow3unsupported3 {
    margin-left: 0;
    width: 21px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 26px;
    width: 128px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .5625em;
    height: 9px
  }
  .settingsrow4 {
    display: flex;
    margin-left: 76px;
    margin-top: 19px;
    width: 176px;
    height: 21px;
    align-items: stretch
  }
  .settingsrow4unsupported4 {
    margin-left: 0;
    width: 21px
  }
  .style12 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 26px;
    width: 128px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .5625em;
    height: 9px
  }
  .settingsrow5 {
    display: flex;
    margin-left: 76px;
    margin-top: 19px;
    width: 176px;
    height: 21px;
    align-items: stretch
  }
  .settingsrow5unsupported6 {
    margin-left: 0;
    width: 21px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 26px;
    width: 128px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style17 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .5625em;
    height: 9px
  }
  .settingsrow6 {
    display: flex;
    margin-left: 138px;
    margin-top: 29px;
    width: 185px;
    height: 16px;
    align-items: stretch
  }
  .style18 {
    font-family: BalsamiqSans,serif;
    font-size: .625em;
    margin-left: 0
  }
  .settingsrow6unsupported5 {
    margin-left: 55px;
    width: 28px
  }
  .settingsunsupported0 {
    margin-left: 15px;
    margin-top: 168px;
    width: 43px;
    height: 43px
  }
  .style19,
  .style20,
  .style21 {
    font-family: BalsamiqSans,serif;
    margin-left: 15px
  }
  .style19 {
    font-weight: 700;
    font-size: .75em;
    margin-top: 32px;
    width: 103px
  }
  .style20,
  .style21 {
    font-size: .625em;
    margin-top: 23px;
    width: 74px
  }
  .style21 {
    width: 145px
  }
  .style22 {
    background-color: #999;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 140px;
    margin-top: 45px;
    width: 94px;
    height: 40px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style23 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .6875em;
    height: 12px
  }
  .activedevicerow4 {
    display: flex;
    margin-left: 15px;
    margin-top: 93px;
    width: 341px;
    height: 43px;
    align-items: stretch
  }
  .activedevicerow4unsupported0 {
    margin-left: 0;
    width: 43px
  }
  .activedevicerow4unsupported1 {
    margin-left: 255px;
    width: 43px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style24 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    font-weight: 700;
    margin-left: 36px;
    margin-top: 20px;
    height: 19px
  }
  .togglegraphsrow1 {
    display: flex;
    margin-left: 48px;
    margin-top: 16px;
    width: 290px;
    height: 16px;
    align-items: stretch
  }
  .style25 {
    font-family: BalsamiqSans,serif;
    font-size: .625em;
    margin-left: 0
  }
  .togglegraphsrow1unsupported1 {
    margin-left: 191px;
    width: 28px
  }
  .togglegraphsrow2 {
    display: flex;
    margin-left: 48px;
    margin-top: 37px;
    width: 290px;
    height: 16px;
    align-items: stretch
  }
  .style27 {
    font-family: BalsamiqSans,serif;
    font-size: .625em;
    margin-left: 0
  }
  .togglegraphsrow2unsupported0 {
    margin-left: 212px;
    width: 28px
  }
  .togglegraphsrow3 {
    display: flex;
    margin-left: 48px;
    margin-top: 39px;
    width: 290px;
    height: 16px;
    align-items: stretch
  }
  .style26 {
    font-family: BalsamiqSans,serif;
    font-size: .625em;
    margin-left: 0
  }
  .togglegraphsrow3unsupported2 {
    margin-left: 220px;
    width: 28px
  }
  .togglegraphsrow4 {
    display: flex;
    margin-left: 48px;
    margin-top: 38px;
    width: 290px;
    height: 16px;
    align-items: stretch
  }
  .style29 {
    font-family: BalsamiqSans,serif;
    font-size: .625em;
    margin-left: 0
  }
  .togglegraphsrow4unsupported3 {
    margin-left: 191px;
    width: 28px
  }
  .togglegraphsrow5 {
    display: flex;
    margin-left: 48px;
    margin-top: 38px;
    width: 290px;
    height: 16px;
    align-items: stretch
  }
  .style28 {
    font-family: BalsamiqSans,serif;
    font-size: .625em;
    margin-left: 0
  }
  .togglegraphsrow5unsupported4 {
    margin-left: 211px;
    width: 28px
  }
  .togglegraphsrow6 {
    display: flex;
    margin-left: 15px;
    margin-top: 181px;
    width: 341px;
    height: 43px;
    align-items: stretch
  }
  .togglegraphsrow6unsupported6 {
    margin-left: 0;
    width: 43px
  }
  .togglegraphsrow6unsupported5 {
    margin-left: 255px;
    width: 43px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .connectpagerow0 {
    display: flex;
    margin-left: 23px;
    margin-top: 27px;
    width: 745px;
    height: 256px
  }
  .style1 {
    font-family: BalsamiqSans,serif;
    font-size: 1.28em;
    font-weight: 700;
    margin-left: 0;
    margin-top: 23px;
    width: 377px
  }
  .style0 {
    margin-left: 10px;
    width: 356px;
    height: 100%;
    align-self: stretch
  }
  .style2 {
    background-color: #597eaa;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 252px;
    margin-top: 80px;
    width: 262px;
    height: 92px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style3 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    font-weight: 700;
    height: 33px
  }
  .connectpagerow2 {
    display: flex;
    margin-left: 41px;
    margin-top: 498px;
    width: 698px;
    height: 88px;
    align-items: stretch
  }
  .connectpagerow2unsupported1 {
    margin-left: 0;
    width: 88px
  }
  .connectpagerow2unsupported0 {
    margin-left: 522px;
    width: 88px
  }
  .style4 {
    margin-left: 168px;
    margin-top: 113px;
    width: 440px;
    height: 557px
  }
  .style5 {
    background-color: #999;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 291px;
    margin-top: 37px;
    width: 195px;
    height: 80px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style6,
  .style7 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    font-weight: 700;
    height: 33px
  }
  .style7 {
    font-size: 2.3040000000000003em;
    margin-left: 111px;
    margin-top: 43px;
    height: 43px
  }
  .settingsrow1 {
    display: flex;
    margin-left: 156px;
    margin-top: 39px;
    width: 360px;
    height: 43px;
    align-items: stretch
  }
  .settingsrow1unsupported1 {
    margin-left: 0;
    width: 43px
  }
  .style8 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 53px;
    width: 262px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.1520000000000001em;
    height: 18px
  }
  .settingsrow2 {
    display: flex;
    margin-left: 156px;
    margin-top: 43px;
    width: 360px;
    height: 43px;
    align-items: stretch
  }
  .settingsrow2unsupported2 {
    margin-left: 0;
    width: 43px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 53px;
    width: 262px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.1520000000000001em;
    height: 18px
  }
  .settingsrow3 {
    display: flex;
    margin-left: 156px;
    margin-top: 47px;
    width: 360px;
    height: 43px;
    align-items: stretch
  }
  .settingsrow3unsupported3 {
    margin-left: 0;
    width: 43px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 53px;
    width: 262px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.1520000000000001em;
    height: 18px
  }
  .settingsrow4 {
    display: flex;
    margin-left: 156px;
    margin-top: 39px;
    width: 360px;
    height: 43px;
    align-items: stretch
  }
  .settingsrow4unsupported4 {
    margin-left: 0;
    width: 43px
  }
  .style12 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 53px;
    width: 262px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.1520000000000001em;
    height: 18px
  }
  .settingsrow5 {
    display: flex;
    margin-left: 156px;
    margin-top: 39px;
    width: 360px;
    height: 43px;
    align-items: stretch
  }
  .settingsrow5unsupported6 {
    margin-left: 0;
    width: 43px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 53px;
    width: 262px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style17 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.1520000000000001em;
    height: 18px
  }
  .settingsrow6 {
    display: flex;
    margin-left: 283px;
    margin-top: 59px;
    width: 379px;
    height: 33px;
    align-items: stretch
  }
  .style18 {
    font-family: BalsamiqSans,serif;
    font-size: 1.28em;
    margin-left: 0
  }
  .settingsrow6unsupported5 {
    margin-left: 113px;
    width: 57px
  }
  .settingsunsupported0 {
    margin-left: 31px;
    margin-top: 344px;
    width: 88px;
    height: 88px
  }
  .style19,
  .style20,
  .style21 {
    font-family: BalsamiqSans,serif;
    margin-left: 31px
  }
  .style19 {
    font-weight: 700;
    font-size: 1.536em;
    margin-top: 66px;
    width: 211px
  }
  .style20,
  .style21 {
    font-size: 1.28em;
    margin-top: 47px;
    width: 152px
  }
  .style21 {
    width: 297px
  }
  .style22 {
    background-color: #999;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 287px;
    margin-top: 92px;
    width: 193px;
    height: 82px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style23 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.408em;
    height: 25px
  }
  .activedevicerow4 {
    display: flex;
    margin-left: 31px;
    margin-top: 190px;
    width: 698px;
    height: 88px;
    align-items: stretch
  }
  .activedevicerow4unsupported0 {
    margin-left: 0;
    width: 88px
  }
  .activedevicerow4unsupported1 {
    margin-left: 522px;
    width: 88px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style24 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    font-weight: 700;
    margin-left: 74px;
    margin-top: 41px;
    height: 39px
  }
  .togglegraphsrow1 {
    display: flex;
    margin-left: 98px;
    margin-top: 33px;
    width: 594px;
    height: 33px;
    align-items: stretch
  }
  .style25 {
    font-family: BalsamiqSans,serif;
    font-size: 1.28em;
    margin-left: 0
  }
  .togglegraphsrow1unsupported1 {
    margin-left: 391px;
    width: 57px
  }
  .togglegraphsrow2 {
    display: flex;
    margin-left: 98px;
    margin-top: 76px;
    width: 594px;
    height: 33px;
    align-items: stretch
  }
  .style27 {
    font-family: BalsamiqSans,serif;
    font-size: 1.28em;
    margin-left: 0
  }
  .togglegraphsrow2unsupported0 {
    margin-left: 434px;
    width: 57px
  }
  .togglegraphsrow3 {
    display: flex;
    margin-left: 98px;
    margin-top: 80px;
    width: 594px;
    height: 33px;
    align-items: stretch
  }
  .style26 {
    font-family: BalsamiqSans,serif;
    font-size: 1.28em;
    margin-left: 0
  }
  .togglegraphsrow3unsupported2 {
    margin-left: 451px;
    width: 57px
  }
  .togglegraphsrow4 {
    display: flex;
    margin-left: 98px;
    margin-top: 78px;
    width: 594px;
    height: 33px;
    align-items: stretch
  }
  .style29 {
    font-family: BalsamiqSans,serif;
    font-size: 1.28em;
    margin-left: 0
  }
  .togglegraphsrow4unsupported3 {
    margin-left: 391px;
    width: 57px
  }
  .togglegraphsrow5 {
    display: flex;
    margin-left: 98px;
    margin-top: 78px;
    width: 594px;
    height: 33px;
    align-items: stretch
  }
  .style28 {
    font-family: BalsamiqSans,serif;
    font-size: 1.28em;
    margin-left: 0
  }
  .togglegraphsrow5unsupported4 {
    margin-left: 432px;
    width: 57px
  }
  .togglegraphsrow6 {
    display: flex;
    margin-left: 31px;
    margin-top: 371px;
    width: 698px;
    height: 88px;
    align-items: stretch
  }
  .togglegraphsrow6unsupported6 {
    margin-left: 0;
    width: 88px
  }
  .togglegraphsrow6unsupported5 {
    margin-left: 522px;
    width: 88px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .connectpagerow0 {
    display: flex;
    margin-left: 27px;
    margin-top: 32px;
    width: 893px;
    height: 307px
  }
  .style1 {
    font-family: BalsamiqSans,serif;
    font-size: 1.5333333333333332em;
    font-weight: 700;
    margin-left: 0;
    margin-top: 27px;
    width: 451px
  }
  .style0 {
    margin-left: 12px;
    width: 427px;
    height: 100%;
    align-self: stretch
  }
  .style2 {
    background-color: #597eaa;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 302px;
    margin-top: 96px;
    width: 314px;
    height: 110px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style3 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    font-weight: 700;
    height: 39px
  }
  .connectpagerow2 {
    display: flex;
    margin-left: 49px;
    margin-top: 596px;
    width: 837px;
    height: 105px;
    align-items: stretch
  }
  .connectpagerow2unsupported1 {
    margin-left: 0;
    width: 105px
  }
  .connectpagerow2unsupported0 {
    margin-left: 626px;
    width: 105px
  }
  .style4 {
    margin-left: 201px;
    margin-top: 135px;
    width: 527px;
    height: 667px
  }
  .style5 {
    background-color: #999;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 348px;
    margin-top: 44px;
    width: 233px;
    height: 96px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style6,
  .style7 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    font-weight: 700;
    height: 39px
  }
  .style7 {
    font-size: 2.76em;
    margin-left: 132px;
    margin-top: 52px;
    height: 52px
  }
  .settingsrow1 {
    display: flex;
    margin-left: 186px;
    margin-top: 47px;
    width: 432px;
    height: 52px;
    align-items: stretch
  }
  .settingsrow1unsupported1 {
    margin-left: 0;
    width: 52px
  }
  .style8 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 64px;
    width: 314px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.38em;
    height: 22px
  }
  .settingsrow2 {
    display: flex;
    margin-left: 186px;
    margin-top: 52px;
    width: 432px;
    height: 52px;
    align-items: stretch
  }
  .settingsrow2unsupported2 {
    margin-left: 0;
    width: 52px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 64px;
    width: 314px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.38em;
    height: 22px
  }
  .settingsrow3 {
    display: flex;
    margin-left: 186px;
    margin-top: 56px;
    width: 432px;
    height: 52px;
    align-items: stretch
  }
  .settingsrow3unsupported3 {
    margin-left: 0;
    width: 52px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 64px;
    width: 314px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.38em;
    height: 22px
  }
  .settingsrow4 {
    display: flex;
    margin-left: 186px;
    margin-top: 47px;
    width: 432px;
    height: 52px;
    align-items: stretch
  }
  .settingsrow4unsupported4 {
    margin-left: 0;
    width: 52px
  }
  .style12 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 64px;
    width: 314px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.38em;
    height: 22px
  }
  .settingsrow5 {
    display: flex;
    margin-left: 186px;
    margin-top: 47px;
    width: 432px;
    height: 52px;
    align-items: stretch
  }
  .settingsrow5unsupported6 {
    margin-left: 0;
    width: 52px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 64px;
    width: 314px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style17 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.38em;
    height: 22px
  }
  .settingsrow6 {
    display: flex;
    margin-left: 339px;
    margin-top: 71px;
    width: 454px;
    height: 39px;
    align-items: stretch
  }
  .style18 {
    font-family: BalsamiqSans,serif;
    font-size: 1.5333333333333332em;
    margin-left: 0
  }
  .settingsrow6unsupported5 {
    margin-left: 135px;
    width: 69px
  }
  .settingsunsupported0 {
    margin-left: 37px;
    margin-top: 412px;
    width: 105px;
    height: 105px
  }
  .style19,
  .style20,
  .style21 {
    font-family: BalsamiqSans,serif;
    margin-left: 37px
  }
  .style19 {
    font-weight: 700;
    font-size: 1.8399999999999999em;
    margin-top: 79px;
    width: 253px
  }
  .style20,
  .style21 {
    font-size: 1.5333333333333332em;
    margin-top: 56px;
    width: 182px
  }
  .style21 {
    width: 356px
  }
  .style22 {
    background-color: #999;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 343px;
    margin-top: 110px;
    width: 231px;
    height: 98px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style23 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.6866666666666665em;
    height: 29px
  }
  .activedevicerow4 {
    display: flex;
    margin-left: 37px;
    margin-top: 228px;
    width: 837px;
    height: 105px;
    align-items: stretch
  }
  .activedevicerow4unsupported0 {
    margin-left: 0;
    width: 105px
  }
  .activedevicerow4unsupported1 {
    margin-left: 626px;
    width: 105px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style24 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    font-weight: 700;
    margin-left: 88px;
    margin-top: 49px;
    height: 47px
  }
  .togglegraphsrow1 {
    display: flex;
    margin-left: 118px;
    margin-top: 39px;
    width: 711px;
    height: 39px;
    align-items: stretch
  }
  .style25 {
    font-family: BalsamiqSans,serif;
    font-size: 1.5333333333333332em;
    margin-left: 0
  }
  .togglegraphsrow1unsupported1 {
    margin-left: 469px;
    width: 69px
  }
  .togglegraphsrow2 {
    display: flex;
    margin-left: 118px;
    margin-top: 91px;
    width: 711px;
    height: 39px;
    align-items: stretch
  }
  .style27 {
    font-family: BalsamiqSans,serif;
    font-size: 1.5333333333333332em;
    margin-left: 0
  }
  .togglegraphsrow2unsupported0 {
    margin-left: 520px;
    width: 69px
  }
  .togglegraphsrow3 {
    display: flex;
    margin-left: 118px;
    margin-top: 96px;
    width: 711px;
    height: 39px;
    align-items: stretch
  }
  .style26 {
    font-family: BalsamiqSans,serif;
    font-size: 1.5333333333333332em;
    margin-left: 0
  }
  .togglegraphsrow3unsupported2 {
    margin-left: 540px;
    width: 69px
  }
  .togglegraphsrow4 {
    display: flex;
    margin-left: 118px;
    margin-top: 93px;
    width: 711px;
    height: 39px;
    align-items: stretch
  }
  .style29 {
    font-family: BalsamiqSans,serif;
    font-size: 1.5333333333333332em;
    margin-left: 0
  }
  .togglegraphsrow4unsupported3 {
    margin-left: 469px;
    width: 69px
  }
  .togglegraphsrow5 {
    display: flex;
    margin-left: 118px;
    margin-top: 93px;
    width: 711px;
    height: 39px;
    align-items: stretch
  }
  .style28 {
    font-family: BalsamiqSans,serif;
    font-size: 1.5333333333333332em;
    margin-left: 0
  }
  .togglegraphsrow5unsupported4 {
    margin-left: 518px;
    width: 69px
  }
  .togglegraphsrow6 {
    display: flex;
    margin-left: 37px;
    margin-top: 444px;
    width: 837px;
    height: 105px;
    align-items: stretch
  }
  .togglegraphsrow6unsupported6 {
    margin-left: 0;
    width: 105px
  }
  .togglegraphsrow6unsupported5 {
    margin-left: 626px;
    width: 105px
  }
}
@media (min-width:1200px) {
  .connectpagerow0 {
    display: flex;
    margin-left: 35px;
    margin-top: 42px;
    width: 1165px;
    height: 400px
  }
  .style1 {
    font-family: BalsamiqSans,serif;
    font-size: 2em;
    font-weight: 700;
    margin-left: 0;
    margin-top: 35px;
    width: 589px
  }
  .style0 {
    margin-left: 16px;
    width: 557px;
    height: 100%;
    align-self: stretch
  }
  .style2 {
    background-color: #597eaa;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 394px;
    margin-top: 125px;
    width: 410px;
    height: 144px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style3 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    font-weight: 700;
    height: 51px
  }
  .connectpagerow2 {
    display: flex;
    margin-left: 64px;
    margin-top: 778px;
    width: 1091px;
    height: 138px;
    align-items: stretch
  }
  .connectpagerow2unsupported1 {
    margin-left: 0;
    width: 138px
  }
  .connectpagerow2unsupported0 {
    margin-left: 816px;
    width: 138px
  }
  .style4 {
    margin-left: 262px;
    margin-top: 176px;
    width: 688px;
    height: 870px
  }
  .style5 {
    background-color: #999;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 454px;
    margin-top: 58px;
    width: 304px;
    height: 125px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style6,
  .style7 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    font-weight: 700;
    height: 51px
  }
  .style7 {
    font-size: 3.6em;
    margin-left: 173px;
    margin-top: 67px;
    height: 67px
  }
  .settingsrow1 {
    display: flex;
    margin-left: 243px;
    margin-top: 61px;
    width: 563px;
    height: 67px;
    align-items: stretch
  }
  .settingsrow1unsupported1 {
    margin-left: 0;
    width: 67px
  }
  .style8 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 83px;
    width: 410px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.8em;
    height: 29px
  }
  .settingsrow2 {
    display: flex;
    margin-left: 243px;
    margin-top: 67px;
    width: 563px;
    height: 67px;
    align-items: stretch
  }
  .settingsrow2unsupported2 {
    margin-left: 0;
    width: 67px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 83px;
    width: 410px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.8em;
    height: 29px
  }
  .settingsrow3 {
    display: flex;
    margin-left: 243px;
    margin-top: 74px;
    width: 563px;
    height: 67px;
    align-items: stretch
  }
  .settingsrow3unsupported3 {
    margin-left: 0;
    width: 67px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 83px;
    width: 410px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.8em;
    height: 29px
  }
  .settingsrow4 {
    display: flex;
    margin-left: 243px;
    margin-top: 61px;
    width: 563px;
    height: 67px;
    align-items: stretch
  }
  .settingsrow4unsupported4 {
    margin-left: 0;
    width: 67px
  }
  .style12 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 83px;
    width: 410px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.8em;
    height: 29px
  }
  .settingsrow5 {
    display: flex;
    margin-left: 243px;
    margin-top: 61px;
    width: 563px;
    height: 67px;
    align-items: stretch
  }
  .settingsrow5unsupported6 {
    margin-left: 0;
    width: 67px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 83px;
    width: 410px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style17 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.8em;
    height: 29px
  }
  .settingsrow6 {
    display: flex;
    margin-left: 442px;
    margin-top: 93px;
    width: 592px;
    height: 51px;
    align-items: stretch
  }
  .style18 {
    font-family: BalsamiqSans,serif;
    font-size: 2em;
    margin-left: 0
  }
  .settingsrow6unsupported5 {
    margin-left: 176px;
    width: 90px
  }
  .settingsunsupported0 {
    margin-left: 48px;
    margin-top: 538px;
    width: 138px;
    height: 138px
  }
  .style19,
  .style20,
  .style21 {
    font-family: BalsamiqSans,serif;
    margin-left: 48px
  }
  .style19 {
    font-weight: 700;
    font-size: 2.4000000000000004em;
    margin-top: 102px;
    width: 330px
  }
  .style20,
  .style21 {
    font-size: 2em;
    margin-top: 74px;
    width: 237px
  }
  .style21 {
    width: 464px
  }
  .style22 {
    background-color: #999;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 1831px 1831px 0 0 #000;
    display: flex;
    margin-left: 448px;
    margin-top: 144px;
    width: 301px;
    height: 128px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style23 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.2em;
    height: 38px
  }
  .activedevicerow4 {
    display: flex;
    margin-left: 48px;
    margin-top: 298px;
    width: 1091px;
    height: 138px;
    align-items: stretch
  }
  .activedevicerow4unsupported0 {
    margin-left: 0;
    width: 138px
  }
  .activedevicerow4unsupported1 {
    margin-left: 816px;
    width: 138px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style24 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    font-weight: 700;
    margin-left: 115px;
    margin-top: 64px;
    height: 61px
  }
  .togglegraphsrow1 {
    display: flex;
    margin-left: 154px;
    margin-top: 51px;
    width: 928px;
    height: 51px;
    align-items: stretch
  }
  .style25 {
    font-family: BalsamiqSans,serif;
    font-size: 2em;
    margin-left: 0
  }
  .togglegraphsrow1unsupported1 {
    margin-left: 611px;
    width: 90px
  }
  .togglegraphsrow2 {
    display: flex;
    margin-left: 154px;
    margin-top: 118px;
    width: 928px;
    height: 51px;
    align-items: stretch
  }
  .style27 {
    font-family: BalsamiqSans,serif;
    font-size: 2em;
    margin-left: 0
  }
  .togglegraphsrow2unsupported0 {
    margin-left: 678px;
    width: 90px
  }
  .togglegraphsrow3 {
    display: flex;
    margin-left: 154px;
    margin-top: 125px;
    width: 928px;
    height: 51px;
    align-items: stretch
  }
  .style26 {
    font-family: BalsamiqSans,serif;
    font-size: 2em;
    margin-left: 0
  }
  .togglegraphsrow3unsupported2 {
    margin-left: 704px;
    width: 90px
  }
  .togglegraphsrow4 {
    display: flex;
    margin-left: 154px;
    margin-top: 122px;
    width: 928px;
    height: 51px;
    align-items: stretch
  }
  .style29 {
    font-family: BalsamiqSans,serif;
    font-size: 2em;
    margin-left: 0
  }
  .togglegraphsrow4unsupported3 {
    margin-left: 611px;
    width: 90px
  }
  .togglegraphsrow5 {
    display: flex;
    margin-left: 154px;
    margin-top: 122px;
    width: 928px;
    height: 51px;
    align-items: stretch
  }
  .style28 {
    font-family: BalsamiqSans,serif;
    font-size: 2em;
    margin-left: 0
  }
  .togglegraphsrow5unsupported4 {
    margin-left: 675px;
    width: 90px
  }
  .togglegraphsrow6 {
    display: flex;
    margin-left: 48px;
    margin-top: 579px;
    width: 1091px;
    height: 138px;
    align-items: stretch
  }
  .togglegraphsrow6unsupported6 {
    margin-left: 0;
    width: 138px
  }
  .togglegraphsrow6unsupported5 {
    margin-left: 816px;
    width: 138px
  }
}